@font-face {
  font-family: "Netflix Sans";
  src: url("../../assets/fonts/Netflix-Sans-Light.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("../../assets/fonts/Netflix-Sans-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("../../assets/fonts/Netflix-Sans-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

/*** Whole Page ***/
:root {
  background-color: #242424;
  font-family: "Netflix Sans", sans-serif;
}

.pageContainer {
}

/*** Header ***/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1.8vh;
}

.navbarLeft {
  display: flex;
  align-items: center;
  margin-right: 5vw;
}

.navOption {
  display: flex;
  gap: 2vw;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.navbar a:hover {
  cursor: pointer;
  color: #f24a01;
}

.welcome-text {
  font-size: 0.9rem;
  padding: 8px 16px;
  background-color: #1a1a1a; /* dark flag bg */
  border-left: 5px solid #f24a01; /* flagpole vibe */
  border-radius: 4px;
  display: inline-block;
  margin: 30px 13px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.welcome-label {
  color: white;
}

.username {
  color: #f24a01;
  font-weight: 500;
}
.navbarRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5vw;
  margin-left: 5vw;
}

.navbarButton {
  color: white;
}

.navbarButton:hover {
  cursor: pointer;
  color: #f24a01;
}

.regLink {
  color: white;
  text-decoration: none;
  font-weight: 300;
  transition: color 0.3s ease;
}

.regLink:hover {
  cursor: pointer;
  color: #f24a01;
}

.logo {
  width: 8%;
  height: auto;
  padding-right: 3vw;
}

.title {
  color: #f24a01;
  font-weight: 700;
  font-size: 1.5rem;
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: white;
  border: 2px solid #f24a01;
  color: #f24a01;
  padding: 6px 12px;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-button:hover {
  background-color: #f24a01;
  color: white;
}

.logout-icon {
  font-size: 1.1rem;
}

/*** Page Content ***/

.pageContent {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-left: 3vw;
  margin-top: -3vh;
  padding-bottom: 5vh;
}

.show {
  width: 20%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.show:hover {
  cursor: pointer;
  transform: scale(1.1); /* Scale up on hover */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.shows {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.shows::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/*** Footer ***/
